__pycache__/
compressed_output/
logs/
calibs/
*.pt
*.db
.venv/
uv.lock

patched_models/
init-modegpt.sh

notes.md
notes.txt
.mem-usage

metrics/

.vscode/hpg-sync.json

History/

playground.ipynb
move_hf_home.sh